* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  font-weight: 900;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0px;
  margin:0px;
  border-radius: 3px;
  
}

/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

#waybar { 
    background-color: transparent;
    color: #414868;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-top: 3px transparent;
    margin: 5px 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 0px;
  color: #A9B1D6;
  background-color: transparent;
  box-shadow: inset 0 3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: #9ECE6A;
}

#workspaces button.urgent {
  color: #F7768E;
}

#window {
  color: #9ECE6A;
}

#clock,
#cpu,
#network,
#pulseaudio,
#custom-spotify,
#custom-power,
#custom-notification,
#bluetooth {
  padding: 0px 10px;
  border-radius: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#window,
#workspaces {
  border-radius: 10px;
  padding: 1px 10px;
  background-color: #1a1b26;
  border: 2px solid #ff9e64;
  color: #ff9e64;
}

#cpu {
  background-color: #1a1b26;
  border: 2px solid #F7768E;
  color: #F7768E;
}

#custom-power {
  background-color: #1a1b26;
  border: 2px solid #F7768E;
  color: #F7768E;
}

tooltip,
#clock.calendar,
#clock tooltip,
#clock > tooltip,
#clock {
    background-color: #1a1b26;
    border: 2px solid #7dcfff;
}

#pulseaudio {
  background-color: #1a1b26;
  border: 2px solid #7aa2f7;
  color: #7aa2f7;
}

#clock {
  background-color: #1a1b26;
  border: 2px solid #7dcfff;
  color: #7dcfff;
}

#bluetooth {
  background-color: #1a1b26;
  border: 2px solid #9ece6a;
  color: #9ece6a;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  background-color: #1a1b26;
  border: 2px solid #e0af68;
  color: #e0af68;
}

#network.disconnected {
 background-color: #f53c3c;
 color: #282828;
}

#custom-spotify {
  background-color: #1a1b26;
  border: 2px solid #8ccf7e;
  color: #8ccf7e;
  padding-left: 10px;                                                                               
  padding-right: 15px;
}

#custom-notification {
  background-color: #1a1b26;
  border: 2px solid #b4f9f8;
  color: #b4f9f8;
  padding-left: 10px;                                                                               
  padding-right: 15px;
}
