@define-color cc-bg #414868;
@define-color noti-border-color #414868;
@define-color noti-bg #565f89;
@define-color noti-bg-darker #565f89;
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color text-color #c0caf5;
@define-color text-color-disabled #9aa5ce;
@define-color bg-selected #bb9af7;
 
* {
  font-family: JetBrainsMono NFP;
  font-weight: bold;
	font-size: 14px
}

.notification-row {
    outline: none;
    margin: 20px;
    padding: 0;
}
 
.notification {
    background: transparent;
    margin: 0px;
}
 
.notification-content {
    background: @cc-bg;
    padding: 7px;
    border-radius: 0px;
    border: 2px solid #565f89;
    margin: 0;
}
 
.close-button {
    background: #bb9af7;
    color: @cc-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
 
.close-button:hover {
    box-shadow: none;
    background: #7aa5ce;
    transition: all .15s ease-in-out;
    border: none
}
 
.notification-action {
    color: #a9b1b6;
    border: 2px solid #565f89;
    border-top: none;
    border-radius: 0px;
    background: #1a1b26;
}
 
.notification-default-action:hover,
.notification-action:hover {
    color: #a9b1b6;
    background: #1a1b26;
}
 
.floating-notifications {
    background: transparent;
}

.summary {
	padding-top: 7px;
    font-size: 13px;
    color: #a9b1b6;
}
 
.time {
    font-size: 11px;
    color: #bb9af7;
    margin-right: 24px
}
 
.body {
    font-size: 12px;
    color: #a9b1b6;
}
