@define-color cc-bg #16161D;
@define-color noti-border-color #16161D;
@define-color noti-bg #2A2A37;
@define-color noti-bg-darker #2A2A37;
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color text-color #f9f5d7;
@define-color text-color-disabled #bdae93;
@define-color bg-selected #C8C093;
 
* {
  font-family: ZedMono NFP;
  font-weight: bold;
	font-size: 14px
}

.notification-row {
    outline: none;
    margin: 20px;
    padding: 0;
}
 
.notification {
    background: transparent;
    margin: 0px;
}
 
.notification-content {
    background: @cc-bg;
    padding: 7px;
    border-radius: 0px;
    border: 2px solid #727169;
    margin: 0;
}
 
.close-button {
    background: #C8C093;
    color: @cc-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
 
.close-button:hover {
    box-shadow: none;
    background: #C8C093;
    transition: all .15s ease-in-out;
    border: none
}
 
.notification-action {
    color: #C8C093;
    border: 2px solid #85796f;
    border-top: none;
    border-radius: 0px;
    background: #2A2A37;
}
 
.notification-default-action:hover,
.notification-action:hover {
    color: #ebdbb2;
    background: #2A2A37;
}
 
.floating-notifications {
    background: transparent;
}

.summary {
	padding-top: 7px;
  font-size: 13px;
  color: #C8C093;
}
 
.time {
    font-size: 11px;
    color: #C8C093;
    margin-right: 24px
}
 
.body {
    font-size: 12px;
    color: #C8C093;
}
